In [45]:
import re

with open('3-1.txt', 'r') as f:
    data = f.read()

In [46]:
def multiply_matches(m, _text):
    _op = _text[m.span()[0]:m.span()[1]]
    numbers = _op.replace('mul(', '').replace(')', '').split(',')
    return int(numbers[0]) * int(numbers[1])

In [47]:
matches = re.finditer('mul\(\d{1,3},\d{1,3}\)', data)
print(sum([multiply_matches(match, data) for match in matches]))

157621318

In [48]:
matches = re.finditer('mul\(\d{1,3},\d{1,3}\)|don\'t\(\)|do\(\)', data)

In [49]:
enabled = True
sums = []
for i, match in enumerate(matches):
    _op = data[match.span()[0]:match.span()[1]]
    if _op == 'do()':
        enabled = True
    elif _op == "don't()":
        enabled = False
    else:
        if enabled:
            sums.append(multiply_matches(match, data))
            
print(sum(sums))

79845780

In [51]:
import seaborn as sns
import pandas as pd
data = sns.load_dataset('iris')
data['d'] = pd.to_datetime(['2023-12-01', '''2024-12-01'] * len(data))

In [52]:
data

,sepal_length,sepal_width,petal_length,petal_width,species,d
0,5.1,3.5,1.4,0.2,setosa,2023-12-01
1,4.9,3.0,1.4,0.2,setosa,2023-12-01
2,4.7,3.2,1.3,0.2,setosa,2023-12-01
3,4.6,3.1,1.5,0.2,setosa,2023-12-01
4,5.0,3.6,1.4,0.2,setosa,2023-12-01
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2023-12-01
146,6.3,2.5,5.0,1.9,virginica,2023-12-01
147,6.5,3.0,5.2,2.0,virginica,2023-12-01
148,6.2,3.4,5.4,2.3,virginica,2023-12-01
149,5.9,3.0,5.1,1.8,virginica,2023-12-01

DatetimeIndex(['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04',
               '2024-07-05', '2024-07-06', '2024-07-07', '2024-07-08',
               '2024-07-09', '2024-07-01',
               ...
               '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09',
               '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04',
               '2024-07-05', '2024-07-06'],
              dtype='datetime64[ns]', length=150, freq=None)

In [61]:
[f'2024-07-0{i + 1}' for i in data.index.map(lambda x: x % 9)]

['2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06']